.headnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  padding: 5px;
  margin: 10px;
  gap: 20px;
  cursor: pointer;
}
.font {
  font-size: larger;
  padding: 15px;
}
